{% load static %}
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>About Us</title>
  <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>

<body>
  <div class="container">
    <div class="navbar">
        <a href="../index.html"><img src="{% static 'images/Shikher Foundations Logo 2021.png' %}"
            class="logo" /></a>
        <nav class="nav">
          <ul>
            <li><a href="home">Home</a></li>
            <li><a href="about">About </a></li>
            <li><a href="donate">Donate </a></li>
            <li><a href="volunteer">Volunteer </a></li>
            <li><a href="events">Events </a></li>
            <li><a href="shop">Shop</a></li>
            <li><a href="login">Login</a></li>
          </ul>
        </nav>
 
      </div>

    <main class="page">
      <section class="clean-block features">
        <div class="video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/l6AMVWvw0vo" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
        <div class="info">
          <h2 class="text-info" style="font-family: Alike, serif;">ABOUT US</h2><br>
          <p>Shikher foundation’s journey began with the initiative &quot;Say No to Plastic Bags&quot; in early 2010 in
            remembering to 26 July water logging witnessing due to the excessive amount plastic bags used in our
            day-to-day life and recycling was inactive in Mumbai. We believed that this is not the ideal way to use and
            throw thing unused because it is harmful to the environment and our health. As eco-friendly alternatives
            already exist so, we initiated the cloth bags making project in underprivileged locality to surplus their
            income, targeting creative house wife and unemployed youth. It was an innovative initiative to sensitize and
            educate the society towards recycling everything for environmental protection and improvement with
            collecting old clothes, books etc... which are unused in their everyday lives and can be useful to
            someone.<br /><br />The passion to reduce pollution and support unemployment mega projects in rural areas
            and mass recycling units. With the realization that innovation is needed in the Recycling field to respond
            to the need for nature in our urbanizing cities. Shikher foundation started with collection of unwanted
            things within few societies and today continue to collect in Mumbai suburbs.<br /><br />We continue to
            involve communities, raise awareness, and encourage implementation on the ground, ultimately working
            together to create a healthy and pollution-free India.<br /><br />We at Shikher Foundation have group of
            women from rural as well as urban areas that have made many products out of old clothes and papers received
            in the form of donation which has helped them to earn supplement Income.</p>
          <br><br>
        </div>
        <div class="row">
          <div class="img10-col">
            <img src="../images/image10.jpeg"> <br> <br>
            <h4 style="text-align: center;color:#2F3C7E; font-size: 25px;"><u>OUR MISSION</u></h4><br>
            <p style="text-align: center; font-size: 18px;">Our focus is to fight the waste management crisis and<br>
              therefore we are working to provide sustainable<br> solutions for a greener world through our<br> projects
              Ecosystem and Sustainable<br> Solutions.</p>
          </div>

          <div class="img8-col">
            <img src="../images/image8.jpeg"><br><br>
            <h4 style="text-align: center; color:#2F3C7E; font-size: 25px;"><u>OUR VISION</u></h4><br>
            <p style="text-align: center; font-size: 18px;">Our work aims to collect unwanted things from the<br> urban
              spaces through recycling or reusing and<br> rejuvenating the ecosystem, while creating<br> opportunities
              for women &amp; children. </p>
          </div>
        </div> <br><br>
        <div class="row2">
          <h4 style="text-align: center; color:#2F3C7E; font-size: 25px;"><u>OUR VALUES</u></h4><br>
          <p style="text-align: center; font-size: 18px;">1. <i><b>Respect</i></b> - We treat everyone with respect
            &amp; dignity.<br />2. <i><b>Ethics</i></b> – We strive to meet highest ethical standards.<br />3.
            <i><b>Communication</i></b> – Communication is the key in the<br> organisation.<br />4.<i><b>Transparency
            </i></b>– Our foundation is honest and transparent<br> in the work we do.<br />5.<i><b> Creative</i></b> –
            We create &amp; innovate to achieve the mission of the<br> foundation. Innovation is key to
            excellence.<br />6.<i><b>Access to all</i></b> – Our foundation is approachable &amp; accessible to<br> any
            individual. We do not discriminate on the basis of gender,<br> age, race, colour, religion, disability,
            lifestyle etc.<br />7.<i><b> Learning</i></b> – We constantly learn everyday from everyone<br> which helps
            us to be updated with current trends &amp; scenarios.</p>
        </div>
      </section>
    </main><br><br><br>
    <div class="row3">
      <div class="info-col">
        <h1 style="font-size: 26.880000000000006px;font-family: Montserrat, sans-serif;color: #2F3C7E;">IMPACTFUL
          CHARITY PROJECTS</h1>
        <p style="font-size: 20px">Below are the projects which our foundation has been a part of: <br /><br />1.
          Medical stall during Ganpati visarjan<br /><br />2. Donating handmade bags to blind people<br /><br />3.
          Donating books &amp; toys to school on the eve of Children’s Day<br /><br />4. Donating food to Old Age Home
          during festivals<br /><br />5. Was part of an entertainment event to raise money for social cause in our home
          town<br /><br />6. Participated in the initiative by Police department of Don’t Drink &amp; Drive<br /><br />
        </p>
      </div>
      <div class="img2-col">
        <img src="../images/image2.jpg">
      </div>
    </div>
    <div class="footer">
      <footer>
        <div class="footdiv">
          <div class="row justify-content-center">
            <div class="footer-col">
              <h3>Services</h3>
              <ul>
                <li><a href="#">about us</a></li>
                <li><a href="#">our services</a></li>
                <li><a href="#">privacy policy</a></li>
                <li><a href="#">affiliate program</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h3>About</h3>
              <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">shipping</a></li>
                <li><a href="#">returns</a></li>
                <li><a href="#">payment options</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h3>Socials</h3>
              <ul>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Linktree</a></li>
              </ul>
            </div>
            <p class="copyright"> © 2022</p>
          </div>
        </div>
    </div>
    </footer>
  </div>

</body>

</html>