<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/adminlogin.css' %}">

  <title>Admin login</title>
</head>

<body>
  <div class="container">
    <div class="navbar">
      <a href="../index.html"><img src="{% static 'images/Shikher Foundations Logo 2021.png' %}"
        class="logo" /></a>
      <nav class="nav">
        <ul>
          <li><a href="home">Home</a></li>
          <li><a href="about">About </a></li>
          <li><a href="donate">Donate </a></li>
          <li><a href="volunteer">Volunteer </a></li>
          <li><a href="events">Events </a></li>
          <li><a href="shop">Shop</a></li>
          <li><a href="login">Login</a></li>
        </ul>
      </nav>

    </div>



    <div class="loginbox">
      <h1>Admin Login</h1>
      <form class="login=form" action='/accesslogin' method="get">
        <div class="login-area">
          <p>Username</p>
        </div>
        <input type="text" name="uname" placeholder="Enter Username" id="username">
        <p>Password</p>
        <input type="password" name="pass" placeholder="Enter Password" id="password">
        <input type="submit" name="" value="Login">
        <div class="login-failed">
          <p>{{ message }}</p>
        </div>
      </form>
    </div>
    <div class="login-footer">
      <footer>
        <div class="footdiv">
          <div class="row justify-content-center">
            <div class="footer-col">
              <h3>Services</h3>
              <ul>
                <li><a href="#">about us</a></li>
                <li><a href="#">our services</a></li>
                <li><a href="#">privacy policy</a></li>
                <li><a href="#">affiliate program</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h3>About</h3>
              <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">shipping</a></li>
                <li><a href="#">returns</a></li>
                <li><a href="#">payment options</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h3>Socials</h3>
              <ul>
                <li><a href="https://www.instagram.com/shikherfoundation/">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Linktree</a></li>
              </ul>
            </div>
            <p class="copyright"> © 2022</p>
          </div>
        </div>
      </footer>
    </div>
</body>

</html>