{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Checkout</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}" >
</head>

<body>
    <div class="container">
        <h5 class="shop-back-link"><a href="shop"><- Back</a></h5>
        <h1>Shopping Checkout</h1>      
            <table class="table table-hover">
                <thead class="thead-inverse">
                    <tr>
                        <th>Qty</th>
                        <th>Item Name</th>
                        <th>Cost</th>
                        <th class="text-xs-right">Subtotal</th>
                    </tr>
                </thead>
                <tbody id="output"> </tbody>
            </table>
            <input type="button" class="btn btn-primary btn-block" value="Checkout with Razorpay">
            <a href="shop" class="btn btn-success btn-block">Continue Shopping</a> 
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'js/checkout.js' %}"></script>
</body>

</html>