{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/events.css' %}">
  <title>Events</title>
</head>

<body>
  <div class="container">
    <div class="navbar">
      <a href="../index.html"><img src="{% static 'images/Shikher Foundations Logo 2021.png' %}" class="logo" /></a>
      <nav class="nav">
        <ul>
          <li><a href="home">Home</a></li>
          <li><a href="about">About </a></li>
          <li><a href="donate">Donate </a></li>
          <li><a href="volunteer">Volunteer </a></li>
          <li><a href="events">Events </a></li>
          <li><a href="shop">Shop</a></li>
          <li><a href="login">Login</a></li>
        </ul>
      </nav>

    </div>

    <div classNameName="events">
      <div className="events-intro">
        <h3 className="events-heading"><strong>Events</strong></h3>
        <p className="events-intro-info">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
          occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          mollit anim id est laborum
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
          occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          mollit anim id est laborum
        </p>
      </div>
      <div className="posts">
        <div className="post">
          <img className="postImg" src="https://images.pexels.com/photos/270360/pexels-photo-270360.jpeg"
            alt="post img" />

          <div className="postInfo">
            <span className="postTitle">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </span>
            <hr />
            <span className="postDate">29/10/2002</span>
          </div>
          <p className="postDesc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur enim
            optio dolorem harum delectus, dicta rem ab temporibus repellat facere
            voluptate aliquam dolorum. Illum atque non ipsam, cupiditate laboriosam
            nulla et ad ut ea voluptas temporibus at excepturi. Adipisci soluta in
            error optio exercitationem accusamus illo quasi explicabo vitae, iure
            debitis sunt temporibus nulla nam culpa quidem officia quis omnis. Et
            voluptas fuga modi perspiciatis quibusdam, quidem quas sequi sed ipsa
            minus. Atque, sint eveniet, impedit dignissimos consequuntur itaque cum
            placeat voluptas ex fugiat tempora. Explicabo, laborum nobis sit, sed,
            doloribus cum delectus nam molestiae earum ducimus enim tempore quam?
          </p>
        </div>

        <div className="post">
          <img className="postImg" src="https://images.pexels.com/photos/270360/pexels-photo-270360.jpeg"
            alt="post img" />

          <div className="postInfo">
            <span className="postTitle">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </span>
            <hr />
            <span className="postDate">29/10/2002</span>
          </div>
          <p className="postDesc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur enim
            optio dolorem harum delectus, dicta rem ab temporibus repellat facere
            voluptate aliquam dolorum. Illum atque non ipsam, cupiditate laboriosam
            nulla et ad ut ea voluptas temporibus at excepturi. Adipisci soluta in
            error optio exercitationem accusamus illo quasi explicabo vitae, iure
            debitis sunt temporibus nulla nam culpa quidem officia quis omnis. Et
            voluptas fuga modi perspiciatis quibusdam, quidem quas sequi sed ipsa
            minus. Atque, sint eveniet, impedit dignissimos consequuntur itaque cum
            placeat voluptas ex fugiat tempora. Explicabo, laborum nobis sit, sed,
            doloribus cum delectus nam molestiae earum ducimus enim tempore quam?
          </p>
        </div>

        <div className="post">
          <img className="postImg" src="https://images.pexels.com/photos/270360/pexels-photo-270360.jpeg"
            alt="post img" />

          <div className="postInfo">
            <span className="postTitle">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </span>
            <hr />
            <span className="postDate">29/10/2002</span>
          </div>
          <p className="postDesc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur enim
            optio dolorem harum delectus, dicta rem ab temporibus repellat facere
            voluptate aliquam dolorum. Illum atque non ipsam, cupiditate laboriosam
            nulla et ad ut ea voluptas temporibus at excepturi. Adipisci soluta in
            error optio exercitationem accusamus illo quasi explicabo vitae, iure
            debitis sunt temporibus nulla nam culpa quidem officia quis omnis. Et
            voluptas fuga modi perspiciatis quibusdam, quidem quas sequi sed ipsa
            minus. Atque, sint eveniet, impedit dignissimos consequuntur itaque cum
            placeat voluptas ex fugiat tempora. Explicabo, laborum nobis sit, sed,
            doloribus cum delectus nam molestiae earum ducimus enim tempore quam?
          </p>
        </div>

        <div className="post">
          <img className="postImg" src="https://images.pexels.com/photos/270360/pexels-photo-270360.jpeg"
            alt="post img" />

          <div className="postInfo">
            <span className="postTitle">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </span>
            <hr />
            <span className="postDate">29/10/2002</span>
          </div>
          <p className="postDesc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur enim
            optio dolorem harum delectus, dicta rem ab temporibus repellat facere
            voluptate aliquam dolorum. Illum atque non ipsam, cupiditate laboriosam
            nulla et ad ut ea voluptas temporibus at excepturi. Adipisci soluta in
            error optio exercitationem accusamus illo quasi explicabo vitae, iure
            debitis sunt temporibus nulla nam culpa quidem officia quis omnis. Et
            voluptas fuga modi perspiciatis quibusdam, quidem quas sequi sed ipsa
            minus. Atque, sint eveniet, impedit dignissimos consequuntur itaque cum
            placeat voluptas ex fugiat tempora. Explicabo, laborum nobis sit, sed,
            doloribus cum delectus nam molestiae earum ducimus enim tempore quam?
          </p>
        </div>


        <div className="post">
          <img className="postImg" src="https://images.pexels.com/photos/270360/pexels-photo-270360.jpeg"
            alt="post img" />

          <div className="postInfo">
            <span className="postTitle">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </span>
            <hr />
            <span className="postDate">29/10/2002</span>
          </div>
          <p className="postDesc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur enim
            optio dolorem harum delectus, dicta rem ab temporibus repellat facere
            voluptate aliquam dolorum. Illum atque non ipsam, cupiditate laboriosam
            nulla et ad ut ea voluptas temporibus at excepturi. Adipisci soluta in
            error optio exercitationem accusamus illo quasi explicabo vitae, iure
            debitis sunt temporibus nulla nam culpa quidem officia quis omnis. Et
            voluptas fuga modi perspiciatis quibusdam, quidem quas sequi sed ipsa
            minus. Atque, sint eveniet, impedit dignissimos consequuntur itaque cum
            placeat voluptas ex fugiat tempora. Explicabo, laborum nobis sit, sed,
            doloribus cum delectus nam molestiae earum ducimus enim tempore quam?
          </p>
        </div>

        <div className="post">
          <img className="postImg" src="https://images.pexels.com/photos/270360/pexels-photo-270360.jpeg"
            alt="post img" />

          <div className="postInfo">
            <span className="postTitle">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </span>
            <hr />
            <span className="postDate">29/10/2002</span>
          </div>
          <p className="postDesc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur enim
            optio dolorem harum delectus, dicta rem ab temporibus repellat facere
            voluptate aliquam dolorum. Illum atque non ipsam, cupiditate laboriosam
            nulla et ad ut ea voluptas temporibus at excepturi. Adipisci soluta in
            error optio exercitationem accusamus illo quasi explicabo vitae, iure
            debitis sunt temporibus nulla nam culpa quidem officia quis omnis. Et
            voluptas fuga modi perspiciatis quibusdam, quidem quas sequi sed ipsa
            minus. Atque, sint eveniet, impedit dignissimos consequuntur itaque cum
            placeat voluptas ex fugiat tempora. Explicabo, laborum nobis sit, sed,
            doloribus cum delectus nam molestiae earum ducimus enim tempore quam?
          </p>
        </div>

        <div className="post">
          <img className="postImg" src="https://images.pexels.com/photos/270360/pexels-photo-270360.jpeg"
            alt="post img" />

          <div className="postInfo">
            <span className="postTitle">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </span>
            <hr />
            <span className="postDate">29/10/2002</span>
          </div>
          <p className="postDesc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur enim
            optio dolorem harum delectus, dicta rem ab temporibus repellat facere
            voluptate aliquam dolorum. Illum atque non ipsam, cupiditate laboriosam
            nulla et ad ut ea voluptas temporibus at excepturi. Adipisci soluta in
            error optio exercitationem accusamus illo quasi explicabo vitae, iure
            debitis sunt temporibus nulla nam culpa quidem officia quis omnis. Et
            voluptas fuga modi perspiciatis quibusdam, quidem quas sequi sed ipsa
            minus. Atque, sint eveniet, impedit dignissimos consequuntur itaque cum
            placeat voluptas ex fugiat tempora. Explicabo, laborum nobis sit, sed,
            doloribus cum delectus nam molestiae earum ducimus enim tempore quam?
          </p>
        </div>

        <div className="post">
          <img className="postImg" src="https://images.pexels.com/photos/270360/pexels-photo-270360.jpeg"
            alt="post img" />

          <div className="postInfo">
            <span className="postTitle">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </span>
            <hr />
            <span className="postDate">29/10/2002</span>
          </div>
          <p className="postDesc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur enim
            optio dolorem harum delectus, dicta rem ab temporibus repellat facere
            voluptate aliquam dolorum. Illum atque non ipsam, cupiditate laboriosam
            nulla et ad ut ea voluptas temporibus at excepturi. Adipisci soluta in
            error optio exercitationem accusamus illo quasi explicabo vitae, iure
            debitis sunt temporibus nulla nam culpa quidem officia quis omnis. Et
            voluptas fuga modi perspiciatis quibusdam, quidem quas sequi sed ipsa
            minus. Atque, sint eveniet, impedit dignissimos consequuntur itaque cum
            placeat voluptas ex fugiat tempora. Explicabo, laborum nobis sit, sed,
            doloribus cum delectus nam molestiae earum ducimus enim tempore quam?
          </p>
        </div>
      </div>



      <div class="footer">
        <footer>
          <div class="footdiv">
            <div class="row justify-content-center">
              <div class="footer-col">
                <h3>Services</h3>
                <ul>
                  <li><a href="#">about us</a></li>
                  <li><a href="#">our services</a></li>
                  <li><a href="#">privacy policy</a></li>
                  <li><a href="#">affiliate program</a></li>
                </ul>
              </div>
              <div class="footer-col">
                <h3>About</h3>
                <ul>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">shipping</a></li>
                  <li><a href="#">returns</a></li>
                  <li><a href="#">payment options</a></li>
                </ul>
              </div>
              <div class="footer-col">
                <h3>Socials</h3>
                <ul>
                  <li><a href="https://www.instagram.com/shikherfoundation/">Instagram</a></li>
                  <li><a href="#">Twitter</a></li>
                  <li><a href="#">Linktree</a></li>
                </ul>
              </div>
              <p class="copyright"> © 2022</p>
            </div>
          </div>
      </div>
      </footer>
    </div>
  </div>
</body>

</html>