{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shikher Foundation</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}"
  </head>

  <body>
    <div class="container">
      <div class="navbar">
        <a href="../index.html"><img src="{% static 'images/Shikher Foundations Logo 2021.png' %}"
            class="logo" /></a>
        <nav class="nav">
          <ul>
            <li><a href="home">Home</a></li>
            <li><a href="about">About </a></li>
            <li><a href="donate">Donate </a></li>
            <li><a href="volunteer">Volunteer </a></li>
            <li><a href="events">Events </a></li>
            <li><a href="shop">Shop</a></li>
            <li><a href="login">Login</a></li>
          </ul>
        </nav>
 
      </div>
      

      <div class="landing_page">
        <div class="textinfo">
          <h2 class="heading_shikher">Shikher Foundation</h2>
          <h3>"It's not about how much we give,<br>but about how much love we put
            into giving."</h3><br><br>
          <h3 id="found_info">What is this foundation about?</h3>
          <p>Shikher Foundation has taken an initiative of reducing waste.
            <br>Reusing things, one has used or recycling the things by creating
            employment which will uplift rural areas development that are still<br>
            untouched and play an important part of our country where charity is
            so engrained in the Indian spirit.<br /></p>
        </div>
      </div>

      <div class="marquee">
        <div class="marquee-content"> 
          
          <div class="marquee-item">
            <img src="{% static 'images/image1.jpg' %}" alt="">
          </div>
          
          <div class="marquee-item">
            <img src="{% static 'images/image3.jpg' %}" alt="">
          </div>
          
          <div class="marquee-item">
            <img src="{% static 'images/image4.jpg' %}" alt="">
          </div>
          
          <div class="marquee-item">
            <img src="{% static 'images/image5.jpg' %}" alt="">
          </div>
          
          <div class="marquee-item">
            <img src="{% static 'images/image6.jpg' %}" alt="">
          </div>

          <div class="marquee-item">
            <img src="{% static 'images/image1.jpg' %}" alt="">
          </div>
          
          <div class="marquee-item">
            <img src="{% static 'images/image3.jpg' %}" alt="">
          </div>
          
          <div class="marquee-item">
            <img src="{% static 'images/image4.jpg' %}" alt="">
          </div>
          
          <div class="marquee-item">
            <img src="{% static 'images/image5.jpg' %}" alt="">
          </div>
          
          <div class="marquee-item">
            <img src="{% static 'images/image6.jpg' %}" alt="">
          </div>

          <div class="marquee-item">
            <img src="{% static 'images/image1.jpg' %}" alt="">
          </div>
          
          <div class="marquee-item">
            <img src="{% static 'images/image3.jpg' %}" alt="">
          </div>
          
          <div class="marquee-item">
            <img src="{% static 'images/image4.jpg' %}" alt="">
          </div>
          
          <div class="marquee-item">
            <img src="{% static 'images/image5.jpg' %}" alt="">
          </div>
          
          <div class="marquee-item">
            <img src="{% static 'images/image6.jpg' %}" alt="">
          </div>
          
        </div>
      </div>

      <!-- <main class="page landing-page">
        <section class="clean-block clean-hero" style="background-image:url('tech/image4.jpg');color:rgba(9, 162, 255, 0.85);">
            <div class="text">
                <h2 style="color: var(--bs-red);font-size: 48.172px;font-family: Alike, serif;font-weight: bold;">SHIKHER FOUNDATION</h2>
                <p style="color: var(--bs-body-color);font-size: 18px;">&quot;IT&#39;S NOT ABOUT HOW MUCH WE GIVE BUT ABOUT HOW MUCH LOVE WE PUT INTO GIVING.&quot;</p>
            </div>
        </section>
        <section class="clean-block clean-info dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info"></h2>
                    <p></p>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6"><img class="img-thumbnail" src="scenery/image5.jpg" /></div>
                    <div class="col-md-6">
                        <h3 style="font-size: 23.448px;">WHAT IS THIS FOUNDATION ABOUT?</h3>
                        <p>Shikher Foundation has taken an initiative of reducing waste. Reusing things, one has used or recycling the things by creating employment which will uplift rural area&#39;s development that are still untouched and play an important part of our country where charity is so engrained in the Indian spirit.<br /></p>
                        <div class="getting-started-info"></div>
                    </div>
                </div>
            </div>
        </section> -->
      <div class="footer">
        <footer>
          <div class="footdiv">
            <div class="row justify-content-center">
              <div class="footer-col">
                <h3>Services</h3>
                <ul>
                  <li><a href="#">about us</a></li>
                  <li><a href="#">our services</a></li>
                  <li><a href="#">privacy policy</a></li>
                  <li><a href="#">affiliate program</a></li>
                </ul>
              </div>
              <div class="footer-col">
                <h3>About</h3>
                <ul>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">shipping</a></li>
                  <li><a href="#">returns</a></li>
                  <li><a href="#">payment options</a></li>
                </ul>
              </div>
              <div class="footer-col">
                <h3>Socials</h3>
                <ul>
                  <li><a href="https://www.instagram.com/shikherfoundation/">Instagram</a></li>
                  <li><a href="#">Twitter</a></li>
                  <li><a href="#">Linktree</a></li>
                </ul>
              </div>
              <p class="copyright"> © 2022</p>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script type="module" src="../js/home.js"></script>

  </body>

</html>